
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::placeholder {
  font-size: 13pt;
  padding: 5px;
}

body {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
  background-image: url("./wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  align-items: center;
  top: 0;
  left: 0;
  width: auto;
  height: 6vh;
  z-index: 100;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-size: 18pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(49, 171, 63);
  font-weight: bold;
}

.header img {
  height: 50px;
}

nav {
  justify-content: space-between; 
  width: 100%;
  gap: 70vw;
}

nav > a:hover, nav > p:hover {
  color: green;
}

.header nav {
  display: flex;
  align-items: center;
}

.header a {
  color: grey;
  text-decoration: none;
  margin: 0 10px;
}

.blank-top {
  height: 5vh;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles > h1 {
  color: rgb(255, 255, 255);
  font-size: 35pt;
  font-weight: bold;
  padding: 0 10px;
  margin-bottom: 20px; 
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.titles > h2 {
  color: white;
  font-size: 17pt;
  padding: 0 10px;
  margin-top: 0;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.content-dashboard {
  position: relative;
  width: 80vw;
  height: 65vh; 
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: auto;
}

.blocs {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 7vw;
  align-items: center; 
  padding: 50px 50px;
  min-height: calc(40vh - 13vh); 
}

#content-left {
  width: 50vh; 
  height: 50vh; 
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  margin-right: 30px;
}

#content-right {
  position: relative;
  width: 50vh; 
  height: 50vh; 
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: auto; 
}

.search-form {
  text-align: center;
  margin-top: 40px;
}

.form-group {
  padding: 0;
}

#error-message {
  font-size: 9pt;
  color: red;
  margin-top: 8px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-search {
  margin-top: 45px;
}

.push-down {
  margin-bottom: 50px;
}

form input[type="text"] {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(41, 40, 40);
}

input {
  border: none;
  background-color: rgb(236, 231, 231);
  border-radius: 5px;
  width: 17vw;
  height: 7vh;
  padding-left: 10px;
}

input:focus {
  outline: solid 1px  rgb(179, 179, 179);
}

.border-top {
  border-top: thin 3px black;
  border-radius: 0 0 5px 5px;
}

.border-down {
  border-bottom: solid rgb(195, 194, 194);;
  border-radius: 5px 5px 0 0;
}

button {
  border: none;
  background-color: rgb(49, 171, 63);
  color: white;
  width: 17vw;
  height: 5vh;
  border-radius: 3px;
}

button:active {
  transform: translateY(2px);
}

button:hover {
  cursor: pointer;
  background-color: rgb(7, 138, 35);
}

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 8px 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  font-size: 11pt;
  margin: 5px;
  width: 17vw;
  height: 6vh;
  color: rgb(6, 6, 6);
}

input[type="date"]:hover {
  cursor: pointer;
}

img {
  padding: 200px;
}

.default-card {
  position: absolute;
  top: 30%;
  left: 48%;
  transform: translate(-50%, -50%);
}

#option-two {
  display: none;
}

.notrip-card {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.green-line {
  width: 200px;
  height: 2px;
  background-color: green;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(49, 171, 63);
}

.msg-default-card {
  position: absolute;
  width: 400%;
  top: 150%;
  left: -100%;
  font-size: 12pt;
}

.msg-notrip-card {
  position: absolute;
  width: 400%;
  top: 150%;
  left: -10%;
  font-size: 12pt;
}

.trip-card {
  display: grid;
  grid-template-columns: 1fr; 
  padding: 10px 8px 0 8px;
}

.trip {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(225, 219, 219);
}

.trip-card:last-child {
  margin: 0 0 10px 0;
}

.trip > div {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.trip span {
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
}

.trip .city-departure,
.trip .city-arrival {
  max-width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 1400px) {

  .header {
    width: 100%;
    height: auto; 
  }

  ::placeholder {
    font-size: 8pt;
    padding: 5px;
  }

  .form-group {
    padding: 15px;
  }

  #error-message {
    font-size: 7pt;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  } 

  .content-dashboard {
    width: 80vw;
    height: 55vh; 
  }

  .search-form {
    text-align: center;
    margin-top: 25px;
  }

  button {
    font-size: 10pt;
  }

  .btn-search {
    margin-top: 25px;
  }

  input {
    font-size: 10pt;
    padding-left: 10px;
  }

  .form-group {
    padding: 0;
  }

  input[type="date"] {
    font-size: 8pt;
  }

  .trip span {
    font-size: 8pt;
  }

  .border-top {
    border-top: 2px solid rgb(195, 194, 194);
  } 

  .border-down {
    border: none
  }

  .msg-default-card {
    font-size: 9pt;
    left: -65px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}

@media only screen and (max-width: 640px) { /* Format responsive pour un iphone SE */

  html {
    overflow-y: auto; 
  }

  ::placeholder {
    font-size: 12pt;
  }

  body {
    background-image: url("./wallpaper.jpg");
  }

  .header {
    position: fixed;
    width: 100%;
    height: 10vh; 
    padding: 10px; 
    text-align: center; 
  }

  .blank-top {
    height: 115px;
  }

  #content-left {
    width: 49vh;
  }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
  }

  .titles > h1 {
    font-size: 25pt !important;
  }

  .titles > h1 {
    color: rgb(255, 255, 255);
    font-size: 25pt;
    padding: 10px;
    margin: 0 0 50px 0;
    text-align: center;
    backdrop-filter: blur(10px);
  }
  
  .titles > h2 {
    color: rgb(255, 255, 255);
    font-size: 15pt;
    padding: 10px;
    margin: 0 0 50px 0;
    text-align: center;
    backdrop-filter: blur(10px);
  }

  .blocs {
    padding: 10px 21px;
    margin: 0 0 48px 0;
    gap: 30px;
    flex-direction: column; 
    align-items: flex-start; 
  }

  .content-dashboard {
    width: 88vw; 
    height: 55vh; 
  }

  #content-right {
    width: 50vh; 
    height: 50vh; 
  }

  #content-left {
    width: 50vh; 
    height: 50vh; 
  }

  .form-group {
    padding: -3px;
  }

  input[type="text"], input[type="date"] {
    font-size: 15px;
    padding: 5px;
    width: 90%; 
  }

  #error-message {
    font-size: 15px;
    margin-top: 10px;
  }

  .btn-search {
    margin-top: 25px;
    font-size: 15px;
    height: 8vh; 
    padding: 5px 10px; 
    width: 90%; 
  }

  .trip span {
    font-size: 9px;
  }

  .msg-default-card {
    font-size: 10pt;
    width: 260%;
    text-align: center; 
    line-height: 30px;
  }
}

